<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>プロフィール</h1>
    <d1>
        <dt>名前</dt>
        <dd>松本　光太郎</dd>
        <dt>出身地</dt>
        <dd>神奈川県</dd>
        <dt>趣味</dt>
        <dd>時間旅行</dd>
    </d1>
</body>
</html>